# Packs executables when a new release is added to GitHub
# NOTE use ditto to create the zip archive for mac, for details see
# https://gist.github.com/bpteague/750906b9a02094e7389427d308ba1002#zip-the-app-for-notarization
on:
  release:
    types: [published]
permissions:
    contents: write
jobs:
    build-win:
      runs-on: windows-latest
      steps:
        - name: Checkout repo
          uses: actions/checkout@v4
        - name: Set up python
          uses: actions/setup-python@v5
          with:
            python-version: '3.12'
        - name: Install deps, build exec and pack ZIP
          run: |
            python -m pip install --upgrade pip
            pip install -e .[dev,gui]
            pyinstaller moltenprot_win.spec
            Compress-Archive -Path dist\moltenprot\* -DestinationPath moltenprot-win.zip
        - name: Build wheel
          run : |
            python -m pip wheel . --no-deps -w dist
        - name: Upload to release
          run: |
            gh release upload ${{ github.event.release.tag_name }} moltenprot-win.zip dist\moltenprot-*-py3-none-any.whl --clobber
          env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    build-mac:
      runs-on: macos-latest
      steps:
        - name: Checkout repo
          uses: actions/checkout@v4
        - name: Set up python
          uses: actions/setup-python@v5
          with:
            python-version: '3.12'
        - name: Install deps, build exec and pack ZIP
          run: |
            python -m pip install --upgrade pip
            pip install -e .[dev,gui]
            pyinstaller moltenprot_mac.spec
            cd dist
            ditto -c -k --sequesterRsrc --keepParent moltenprot_mac.app moltenprot-mac.zip
        - name: Upload to release
          run: |
            gh release upload ${{ github.event.release.tag_name }} dist/moltenprot-mac.zip --clobber
          env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    build-mac-intel:
    # NOTE this is the last supported intel version, see https://github.com/actions/runner-images/issues/13046
      runs-on: macos-15-intel
      steps:
        - name: Checkout repo
          uses: actions/checkout@v4
        - name: Set up python
          uses: actions/setup-python@v5
          with:
            python-version: '3.12'
        - name: Install deps, build exec and pack ZIP
          run: |
            python -m pip install --upgrade pip
            pip install -e .[dev,gui]
            pyinstaller moltenprot_mac.spec
            cd dist
            ditto -c -k --sequesterRsrc --keepParent moltenprot_mac.app moltenprot-mac-intel.zip
        - name: Upload to release
          run: |
            gh release upload ${{ github.event.release.tag_name }} dist/moltenprot-mac-intel.zip --clobber
          env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
